<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${category.isEdit ? 'Edit Category' : 'Add New Category'}"></title>
</head>
<body>
    <h2 th:text="${category.isEdit ? 'Edit Category' : 'Add New Category'}"></h2>
    
    <form th:action="@{/admin/categories/save}" method="post" th:object="${category}">
        <input type="hidden" th:field="*{isEdit}"/>
        <input type="hidden" th:field="*{id}"/>
        
        <div>
            <label>Category Name</label><br>
            <input type="text" th:field="*{name}"/>
        </div>
        
        <div>
            <label>Image</label><br>
            <input type="text" th:field="*{images}"/>
        </div>
        
        <div>
            <label>Status</label><br>
            <input type="text" th:field="*{status}"/>
        </div>
        
        <div>
            <input type="submit" th:value="${category.isEdit ? 'Update' : 'Insert'}"/>
        </div>
    </form>
</body>
</html>
